PORT=1370
NODE_ENV="development"
ENABLE_CONSOLE_LOG=1
DB_PATH=./data/db/tank-radar.sqlite
STATIONS_API_URL=https://geoportal.stadt-koeln.de/arcgis/rest/services/verkehr/gefahrgutstrecken/MapServer/0/query?where=objectid+is+not+null&outFields=*&outSR=4326&f=pjson
SYNC_CRON_SCHEDULE=0 */12 * * *